@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
  font-family: "Albert Sans";
  src: url("../public/assets/fonts/HKGrotesk-Thin.woff2");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Albert Sans";
  src: url("../public/assets/fonts/HKGrotesk-Light.woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Albert Sans";
  src: url("../public/assets/fonts/AlbertSans-Regular.woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Albert Sans";
  src: url("../public/assets/fonts/AlbertSans-Medium.woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Albert Sans";
  src: url("../public/assets/fonts/AlbertSans-SemiBold.woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Albert Sans";
  src: url("../public/assets/fonts/AlbertSans-Bold.woff2");
  font-weight: 700;
  font-style: normal;
}




html,
body {
  padding: 0;
  margin: 0;
  font-family: "Albert Sans", sans-serif;
}

h1{
  @apply xl:text-4.5xl font-medium
         md:text-4xl
         text-3.5xl

}

h2{
  @apply  xl:text-4xl font-medium
          md:text-3.5xl
          text-3xl
}

h3{
  @apply  xl:text-3xl font-medium
          md:text-2.5xl
          text-2xl
}
h4{
  @apply  xl:text-2xl font-medium
          text-xl

}
h5{
  @apply text-1.5xl
}

p{
  @apply text-base font-normal
}
.button-carino{
  @apply px-5 bg-sky-600 h-full text-white
}


a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: light) {
  html {
    color-scheme: light;
  }
  body {
    color: black;
    background: white;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: black;
    background: white;
  }
}

/*#region .btn */

.btn{
  @apply bg-primary text-white px-5 py-4 font-medium z-10 relative overflow-hidden
}
.btn:after{
  content: "";
  width: 0px;
  z-index: -1;
  transform: skewX(345deg) scaleX(1.2);
  transition: all 0.35s cubic-bezier(.88,.1,.21,.86);
  @apply absolute top-0 right-[-10px] h-full bg-primary-700
}

.btn p, .btn-arrow p{
  @apply font-medium
}
.btn:hover:after{
  @apply w-[110%] left-[-10px]
}

/*endregion */

.btn-arrow{
  @apply bg-gray-300 font-medium pl-5 pr-4 py-3 text-black flex flex-row flex-nowrap
}

.img-abo{
  @apply h-full object-cover
}
/*#region .container */

.containerRight{
  @apply container pr-0 relative
}

.containerLeft{
  @apply container pl-0 relative
}
/*endregion */
.postItem{
  @apply bg-gray-200 pb-4
}

.postItem__text{
  @apply px-8 pt-6
}

.postItem__link{
  @apply text-primary-light underline-offset-4 font-medium block mr-0 ml-auto w-fit flex flex-nowrap my-6 items-end
}

.postItem__link:hover{
  @apply text-primary
}


.postPage__image{
  height:50vh;
  min-height: 450px;
  @apply w-full object-cover mb-8 mt-16
 }

.postPage__categories{
  @apply flex flex-row justify-start flex-wrap pt-4
}

.postPage__category{
  @apply px-4 py-2 bg-primary-100 flex w-fit text-primary mr-3 mb-3
}

.postPage__category:last-child{
  @apply mb-3
}
.postPage__content{
  @apply flex flex-row justify-between
}

.breadCrumb{
  @apply flex flex-row
}

.breadCrumb .breadCrumb__element:after{
  content: "/";
}
.breadCrumb .breadCrumb__element:last-child::after{
  content: "";
  @apply hidden
}