@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
  font-family: "Albert Sans";
  src: url("../public/assets/fonts/HKGrotesk-Thin.woff2");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Albert Sans";
  src: url("../public/assets/fonts/HKGrotesk-Light.woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Albert Sans";
  src: url("../public/assets/fonts/AlbertSans-Regular.woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Albert Sans";
  src: url("../public/assets/fonts/AlbertSans-Medium.woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Albert Sans";
  src: url("../public/assets/fonts/AlbertSans-SemiBold.woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Albert Sans";
  src: url("../public/assets/fonts/AlbertSans-Bold.woff2");
  font-weight: 700;
  font-style: normal;
}




html,
body {
  padding: 0;
  margin: 0;
  font-family: "Albert Sans", sans-serif;
}

h1{
  @apply xl:text-4.5xl font-medium
         md:text-4xl
         text-3.5xl

}

h2{
  @apply  xl:text-4xl font-medium
          md:text-3.5xl
          text-3xl
}

h3{
  @apply  xl:text-3xl font-medium
          md:text-2.5xl
          text-2xl
}
h4{
  @apply  xl:text-2xl font-medium
          text-xl

}
h5{
  @apply text-1.5xl
}

p{
  @apply text-base font-normal text-[#102c51]
}

.text-white p{
  color: white;
}
.button-carino{
  @apply px-5 bg-sky-600 h-full text-white
}


a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: light) {
  html {
    color-scheme: light;
  }
  body {
    color: black;
    background: white;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: black;
    background: white;
  }
}

/*#region .btn */

.btn{
  @apply bg-primary text-white px-5 py-4 font-medium z-10 relative overflow-hidden
}
.btn:after{
  content: "";
  width: 0px;
  z-index: -1;
  transform: skewX(345deg) scaleX(1.2);
  transition: all 0.35s cubic-bezier(.88,.1,.21,.86);
  @apply absolute top-0 right-[-10px] h-full bg-primary-700
}

.btn p, .btn-arrow p{
  @apply font-medium
}
.btn:hover:after{
  @apply w-[110%] left-[-10px]
}

.btn.black{
  @apply bg-black
}
.btn.black:after{
  @apply bg-gray-800
}

/*endregion */

.btn-arrow{
  @apply bg-gray-300 font-medium pl-5 pr-4 py-3 text-black flex flex-row flex-nowrap
}

.img-abo{
  @apply h-full object-cover
}
/*#region .container */

.containerRight{
  @apply container pr-0 relative
}

.containerLeft{
  @apply container pl-0 relative
}

.containerLeftBefore:before{
  content: "";
  position: absolute;
  width: 200%;

  @apply bg-gray-200 h-full -z-10 top-0 right-0;
}

.containerRightBefore:before{
  content: "";
  position: absolute;
  width: 200%;

  @apply bg-gray-200 h-full -z-10 top-0;
}


.bgContainerBefore:before{
  content: "";
  @apply bg-primary-700;
}
.containerLeft:before{
  content: "";
  position: absolute;
  width: 300%;

  @apply bg-primary-700 absolute h-full right-12  -z-10

}

/*endregion */

.breadCrumb{
  @apply flex flex-row
}

.breadCrumb .breadCrumb__element:after{
  content: "/";
}
.breadCrumb .breadCrumb__element:last-child::after{
  content: "";
  @apply hidden
}

.linkItem a,.linkItem div{
  @apply relative no-underline
}

.linkItem  a::after,.linkItem div::after{
  content: "";
  transform: scale(0,1);
  @apply absolute left-0 w-full h-[1.15px] bg-black -bottom-[3.5px] transition duration-300 origin-top-right
}
.linkItem  a:hover::after,.linkItem div:hover::after{
  content: "";
  transform: scale(1,1);
  @apply origin-top-left
}

.linkItemWhite.linkItem a::after, .linkItemWhite.linkItem div::after{
  content: "";
  @apply bg-white
}

.linkItemPrimary.linkItem a::after, .linkItemPrimary.linkItem div::after{
  content: "";
  @apply bg-primary
}
.linkItemPrimary.linkItem a:hover::after .linkItemPrimary.linkItem div:hover::after{
  content: "";
  @apply bg-primary-600
}

.linkItem.active a, .linkItem.active div{
  @apply text-primary
}

.linkItem.active a::after{
  content: "";
  transform: scale(1,1);
  @apply origin-top-left bg-primary
}

.effectAnimationReveal{
  @apply relative w-fit
}
.effectAnimationReveal:after {
  content: "";
  animation: effect-block 1s cubic-bezier(0.19, 1, 0.22, 1) forwards;
  animation-delay: 0.3s;
  @apply top-0 left-0 absolute w-0 h-full bg-gray-300
 }

.effectAnimationReveal > * {
  animation: text-visible 0.0001s linear forwards;
  animation-delay: 0.9s;
  @apply opacity-0
}


@keyframes effect-block {
  0% {
    left: 0;
    width: 0%;
  }
  50% {
    left: 0;
    width: 100%;
  }
  100% {
    left: 100%;
    width: 0%;
  }
}

@keyframes text-visible {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


.blockOverText{
  @apply absolute left-0 h-full w-0 z-20
}

.lineDivisor{

  @apply h-[1.25px] bg-gray-300 relative w-0
}



.floatingInputOutLineBox input{
  @apply block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-lg border-2 border-gray-600 appearance-none dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 bg-white
}

.floatingInputOutLineBox label {
  @apply absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white px-2 left-1
}

.floatingInput input,select,textarea{
  @apply block bg-transparent appearance-none focus:outline-none focus:ring-0 border-b-2 py-2.5 px-0 w-full resize-none
         border-gray-500 focus:border-primary-light
}

.floatingInput select{
  -webkit-appearance: listbox !important
}
 input:-internal-autofill-selected, input:-webkit-autofill{
  @apply !bg-transparent !text-inherit
}

.floatingInput label{
  @apply absolute duration-300 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0]
  text-gray-400
}

/*#region Filters Elements */
.filters{
  @apply bg-gray-200 px-4 py-6
}
/*endregion*/

/*#region Pagination Elements */
  .paginationItems{
    @apply flex flex-row items-center w-full gap-5 my-5
  }

  .paginationItem div{
    @apply px-4 py-2 cursor-pointer block
  }
  .paginationItem:hover{
    @apply bg-gray-200
  }
  .paginationItem.selected{
    @apply bg-primary-600 text-white
  }
/*endregion */